//? PALETTE
$secondo: #26aef2;
$primo: #f39624;
$scuro: #464446;
$chiaro: #e6eff3;

//? SCHEMA COLORI
$primary: $primo;
$secondary: $secondo;
$success: #4fbd3f;
$info: #5bb9be;
$warning: #f5e225;
$danger: #f54b25;
$light: #c9e6f2;
$dark: #464446;

//? TINTA Primo
$tintaPrimo-50: #eba247;
$tintaPrimo-100: #e5ac67;
$tintaPrimo-200: #e1b785;
$tintaPrimo-300: #dfc39f;
$tintaPrimo-400: #e1ceb8;
$tintaPrimo-500: #e4dacd;
$tintaPrimo-600: #ebe6e0;

//? OMBRA Primo
$shadePrimo-50: #e18719;
$shadePrimo-100: #ba7520;
$shadePrimo-200: #966325;
$shadePrimo-300: #755227;
$shadePrimo-400: #584125;
$shadePrimo-500: #3d3021;
$shadePrimo-600: #252019;

//? TINTA Secondo
$tintaSecondo-50: #e2b963;
$tintaSecondo-100: #dec07d;
$tintaSecondo-200: #ddc696;
$tintaSecondo-300: #deceac;
$tintaSecondo-400: #e0d6c1;
$tintaSecondo-500: #e5dfd3;
$tintaSecondo-600: #ece9e4;

//? OMBRA Secondo
$shadeSecondo-50: #d9a433;
$shadeSecondo-100: #bb8f2f;
$shadeSecondo-200: #987731;
$shadeSecondo-300: #776130;
$shadeSecondo-400: #5a4b2c;
$shadeSecondo-500: #3f3725;
$shadeSecondo-600: #27241c;

//? TINTA Scuro
$tintaScuro-50: #5b595b;
$tintaScuro-100: #706d70;
$tintaScuro-200: #848284;
$tintaScuro-300: #989798;
$tintaScuro-400: #adacad;
$tintaScuro-500: #c1c1c1;
$tintaScuro-600: #d6d6d6;

//? OMBRA Scuro
$shadeScuro-50: #3e3d3e;
$shadeScuro-100: #363536;
$shadeScuro-200: #2e2e2e;
$shadeScuro-300: #272627;
$shadeScuro-400: #1f1e1f;
$shadeScuro-500: #171717;
$shadeScuro-600: #0f0f0f;

//? TINTA Chiaro
$tintaChiaro-50: #d2e8f1;
$tintaChiaro-100: #d9eaf1;
$tintaChiaro-200: #e0edf2;
$tintaChiaro-300: #e6eff3;
$tintaChiaro-400: #ecf2f4;
$tintaChiaro-500: #f2f5f6;
$tintaChiaro-600: #f7f8f9;

//? OMBRA Chiaro
$shadeChiaro-50: #a6d2e4;
$shadeChiaro-100: #86bcd3;
$shadeChiaro-200: #69a5bf;
$shadeChiaro-300: #528ca5;
$shadeChiaro-400: #486d7d;
$shadeChiaro-500: #3b5059;
$shadeChiaro-600: #2b3438;
